.institutions {
	padding: 10px 0 30px;

	@media all and (min-width: $xl) {
		padding: 80px 0 12px;
	}

	.container {
		max-width: 1148px;
	}

	h2 {
		font-weight: $fw-light;
		font-size: 18px;
		line-height: 26px;
		text-align: center;
		color: $black;

		@media all and (min-width: $md) {
			font-size: 25px;
			line-height: 35px;
		}

		@media all and (min-width: $md) {
			font-size: 25px;
			line-height: 35px;
		}

		@media all and (min-width: $xl) {
			font-size: 35px;
			line-height: 46px;
		}
	}
}