// For swiper
.examples-pagination, .face-pagination, .before-pagination,
.live-pagination, .surgeon-pagination, .body-pagination, .before-body-pagination {
	position: relative;
	bottom: 0;
	margin-top: 25px;
}

.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
}

.swiper-pagination-bullet-active {
	background: $black;
}

.examples-prev, .examples-next, .body-prev, .body-next, .about-prev, .about-next {
	position: absolute;
	z-index: 2;
	width: 25px;
	height: 25px;
	border-top: 4px solid $grey;
	border-right: 4px solid $grey;
	cursor: pointer;
	transition: border-color ease $tr;
	display: none;

	&:hover {
		border-color: $dark;
	}
}

.examples-prev, .body-prev, .about-prev {
	top: 50%;
	left: 2%;
	transform: rotate( -135deg );

	@media all and (min-width: $xxl) {
		left: 5%;
	}

	@media all and (min-width: 1600px) {
		left: 10%;
	}
}

.examples-next, .body-next, .about-next {
	top: 50%;
	right: 2%;
	transform: rotate( 45deg );

	@media all and (min-width: $xxl) {
		right: 5%;
	}

	@media all and (min-width: 1600px) {
		right: 10%;
	}
}

.about .surgeon-slider {
	background: $white;

	&::after {
		display: none;
	}
}
#testi-plastyc {
	.before-text {
		margin-bottom: 0;
	}

	.before-pagination {
		margin-top: 50px;
	}
}

.bust {
	.examples-slide-inner {
		height: 100%;
	}

	.face-slide {
		height: 60vw;

		@media all and (min-width: $md) {
			height: 30vw;
		}

		@media all and (min-width: $xxl) {
			height: 427px;
		}
	}
}

.swiper {
	padding: 20px 0;
}

// Off link in swiper on main page
.body .off {
	display: none;
}

.about .off-btn {
	display: none;
}

//links
.bust .button .link {
	font-size: 15px;
}

.about .press {
	padding: 5px 0 30px;

	@media all and (min-width: $xl) {
		padding: 30px 0 80px;
	}
}

//sections
.about .before {
	padding: 30px 0;

	@media all and (min-width: $xl) {
		padding: 100px 0;
	}

	h2 {
		text-align: center;
		text-transform: uppercase;
	}

	.examples-box {
		&::before {
			display: none;
		}
	}

	.hero-link {
		max-width: 345px;
	}
}

.testi .before {
	h2 {
		display: block;
		text-transform: uppercase;
		text-align: center;
		border-bottom: 1px solid #6e6e6e;
		padding-bottom: 20px;

		@media all and (min-width: $xl) {
			font-size: 24px;
		}

		&::before {
			display: none;
		}
	}

	&-text, &-name {
		@media all and (min-width: $xl) {
			font-size: 25px;
		}	
	}

	.examples-box {
		&::before {
			display: none;
		}
		border: 0;
	}
}

.testi-plastyc-title {
	font-weight: $fw-regular;
	font-size: 24px;
	line-height: 31px;
	text-align: center;
	color: $black;
}

.body {
	.examples {
		padding-bottom: 50px;

		&-box {
			padding: 0;
		}
	}
}

//Styles of scroll arrow
.scroll-img {
    opacity: 0;
	visibility: hidden;
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 200;
    border-top: 10px solid $black;
    border-left: 10px solid $black;
    transform: rotate( 45deg );
    cursor: pointer;
    transition: scale ease $tr,
                opacity ease $tr,
				visibility ease $tr;

    &:hover {
        scale: 1.1;

		animation: shadow 1s forwards;

		@keyframes shadow {
			0% {
				box-shadow: 0;
			}

			100% {
				box-shadow: -10px -8px 0px 0px rgb(224, 215, 206);
			}
		}
    }

    &.scrolled {
        opacity: 1;
		visibility: visible;
    }
}

//thanks page

.thanks-page {
	.wrapper {
		padding-top: 0;
	}
}

.thanks {
	background: $bg;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	.container {
		max-width: 100%;
	}

	&-wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
	}

	&-img {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 10%;
	}

	&-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&-text {
		display: flex;
		justify-content: center;
		font-size: 10px;
		margin-bottom: 20px;
		text-align: center;

		@media all and (min-width: $m) {
			font-size: 12px;
		}

		@media all and (min-width: $md) {
			font-size: 15px;
		}

		@media all and (min-width: $lg) {
			font-size: 20px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.button {
		margin-top: 50px;
		max-width: 200px;
		font-size: 12px;
	}
}

.form-popup-wrapper {
	position:fixed;
	display:none;
	align-items:center;
	justify-content:center;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	z-index: 200;
	overflow-y: auto;
	padding: 20px;
	background: rgba(17, 17, 17, 0.767);
}

.form-popup {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	margin: auto 0;
	background: $bg;
	max-width: 640px;

	&-title {
		font-size: 25px;
		line-height: 33px;
		text-align: center;
		color: $white;
		margin-bottom: 15px;
	}

	&-text {
		font-weight: $fw-bold;
		font-size: 17px;
		line-height: 22px;
		color: $white;
	}

	.popup-close {
		position: absolute;
		right: -10px;
		top: -10px;
		width: 25px;
		height: 25px;
		cursor: pointer;
		transition: opacity ease $tr;
		border-radius: 50%;
		background: $black;
		border: 2px solid $white;

		&:hover {
			opacity: $op;
		}

		span {
			position: absolute;
			top: 45%;
			left: 10%;
			display: block;
			width: 80%;
			height: 2px;
			background: $white;
			transform: rotate( 45deg );

			&::before {
				content: "";
				display: block;
				height: 2px;
				background: $white;
				transform: rotate( -90deg );
			}
		}
	}
}

.examples {
	position: relative;
}

.success {
	display: block;
	text-align: center;
	font-size: 18px;
	color: $white;
}

.about-press {
	position: relative;
}

.live-link {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-prev, .swiper-next {
	display: none;

	@media all and (min-width: $xl) {
		display: block;
	}
}