.dropdown.opened {
	.dropdown-start::before {
		transform: translateY( 10% )
					rotate( -45deg );
	}
}

.dropdown-open {
	overflow: hidden;
	height: 0;
	display: flex;
	flex-direction: column;
	transition: height ease 1s;
}

.dropdown-start {
	position: relative;
	text-align: left;
	cursor: pointer;
	font-weight: $fw-bold;
	font-size: 22px;
	line-height: 21px;
	color: $white;
	padding-left: 20px;
	margin: 20px 0;
	transition: opacity ease $tr;

	&:hover {
		opacity: $op;
	}

	&::before {
		transition: transform ease $tr;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY( -70% )
					rotate( 135deg );
		display: block;
		content: "";
		width: 10px;
		height: 10px;
		border-right: 1px solid $white;
		border-top: 1px solid $white;
	}
}

.dropdown-text {
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;

	@media all and (min-width: $md) {
		font-size: 20px;
	}
}