.surgeon-slider {
	position: relative;
	padding: 0 0 30px;
	background: $bg;

	&::after {
		position: absolute;
		bottom: -66px;
		left: 0;
		content: "";
		display: block;
		width: 100vw;
		height: 67px;
		background-image: url( '../img/home/surgeon/surg-bg2.png');
		background-size: 100%;
		background-repeat: no-repeat;
	}

	.container {
		max-width: 1240px;
	}
}

.surgeon-swiper {
	height: 270px;
}

.surgeon-wrapper {
	position: relative;
}

.surgeon-prev, .surgeon-next {
	position: absolute;
	z-index: 2;
	display: block;
	width: 12px;
	height: 12px;
	border-top: 3px solid $grey;
	border-right: 3px solid $grey;
	cursor: pointer;
	transition: scale ease $tr;

	&:hover {
		scale: 1.1;
	}
}

.surgeon-prev {
	top: 50%;
	left: 20px;
	transform: rotate( -135deg )
			translateY( -50% );
}

.surgeon-next {
	top: 50%;
	right: 20px;
	transform: rotate( 45deg )
			translateY( 50% );
}

.surgeon-slide {
	&-inner {
		height: 100%;
		width: 100%;
		transition: scale ease $tr;

		&:hover {
			scale: 1.01	;
		}

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.slide-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 297px;
	height: 47px;
	white-space: nowrap;
}

.swiper-pagination.surgeon-pagination  {
	position: relative;
	bottom: 0;
	margin: 20px 0 32px;
}

.surgeon-slider .slide-link {
	position: static;
	text-align: center;

	&-wrapper {
		display: flex;
		justify-content: center;
	}
}