.surgeon {
	position: relative;
	padding: 35px 0;
	background: $bg;
	overflow: hidden;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		content: "";
		display: block;
		width: 100vw;
		height: 56px;
		background-image: url( '../img/home/surgeon/surg-bg.png');
		background-size: 100%;
		background-repeat: no-repeat;
	}

	.container {
		max-width: 1350px;
	}

	&-box {
		padding-top: 35px;
	}

	&-title-wrapper {
		border-bottom: 1px solid $dark;
		border-top: 1px solid $dark;
		margin-bottom: 10px;

		@media all and (min-width: $xl) {
			margin-bottom: 40px;
		}

		h2 {
			padding: 10px 0 7px;
			font-weight: $fw-bold;
			font-size: 27px;
			line-height: 35px;
			color: $white;

			span {
				font-size: 15px;
				line-height: 20px;
				color: $dark;
			}
		}
	}

	&-box {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	&-video {
		position: relative;
		width: 255px;
		height: 481px;
		margin-bottom: 20px;
		margin: 0 auto 30px auto;

		@media all and (min-width: $lg) {
			margin: 0 auto;
		}

		@media all and (min-width: $xl) {
			width: 455px;
			height: 681px;
		}

		.surg-img {
			width: 100%;
			max-width: 455px;
			height: 100%;
			max-height: 681px;
			margin: 0 auto;
		}
	}

	&-info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;

		@media all and (min-width: $lg) {
			width: calc( 57% - 45px );
			margin-left: 45px;
		}

		h3 {
			width: 100%;
			position: relative;
			font-weight: $fw-bold;
			font-size: 26px;
			line-height: 34px;
			color: $white;
			padding-bottom: 5px;
			margin-bottom: 11px;
			text-align: center;

			&::before {
				content: "";
				display: block;
				height: 1px;
				width: 110px;
				background: $dark;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX( -50% );
			}
		}

		h4 {
			font-weight: $fw-regular;
			font-size: 14px;
			line-height: 20px;
			color: $darker;
			margin-bottom: 20px;
			text-align: center;
		}
	}

	&-text {
		display: flex;
		align-items: center;
		font-weight: 300;
		font-size: 14px;
		line-height: 25px;
		color: $white;
		margin-bottom: 20px;
		position: relative;

		@media all and (min-width: $md) {
			font-size: 22px;
			line-height: 30px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		img {
			margin-right: 13px;
		}
	}
}