.about {
	.hero-block {
		@media all and (min-width: $xl) {
			padding: 10px 0;
		}

		&-inner {
			padding: 0 10px;
		}
	}

	.hero-img {
		height: 500px;

		@media all and (min-width: $m) {
			height: 600px;
		}

		@media all and (min-width: $lg) {
			height: 650px;
		}

		@media all and (min-width: $xl) {
			height: calc( 100vh - 67px );
		}
	}

	.hero-town {
		font-weight: $fw-light;
		font-size: 15px;
		line-height: 29px;
		text-align: center;
		color: $white;

		@media all and (min-width: $md) {
			font-size: 26px;
		}
	}

	.hero-text {
		display: none;
		font-weight: $fw-light;
		font-size: 15px;
		line-height: 23px;
		text-align: center;
		color: $white;
		padding: 0 10px;

		@media all and (min-width: $md) {
			display: block;
			font-size: 18px;
		}
	}
}

.about .hero-img {
	@media all and (min-width: $md) {
		object-position: 100% 20%;
	}
}