.about {
	.hero-block {
		position: relative;

		@media all and (min-width: $md) {
			position: absolute;
			bottom: 0;
		}

		@media all and (min-width: $xl) {
			padding: 40px 0;
		}
	}

	h5 {
		font-size: 15px;
		font-weight: $fw-light;
		text-transform: none;
		margin-bottom: 5px;
		padding: 0 10px;

		@media all and (min-width: $md) {
			font-size: 22px;
		}
	}

	.hero-town {
		font-weight: $fw-light;
		font-size: 15px;
		line-height: 29px;
		text-align: center;
		color: $white;

		@media all and (min-width: $md) {
			font-size: 22px;
		}
	}

	.hero-text {
		font-weight: $fw-light;
		font-size: 15px;
		line-height: 23px;
		text-align: center;
		color: $white;
		padding: 0 10px;

		@media all and (min-width: $md) {
			font-size: 18px;
		}
	}
}