.face {

	&-slide {
		position: relative;
		display: flex;

		img {
			object-fit: cover;
			height: 100%;
			max-height: 370px;
		}
	}

	h2 {
		margin-bottom: 35px;
	}

	.off {
		display: none;
	}

	&-wrapper {
		display: flex;
		align-items: flex-end;
	}

	&-pagination {
		margin-top: 20px;
		position: relative;
		bottom: 0;
	}

	& .face-prev {
		top: 40%;
		left: 20px;
		transform: rotate( -135deg );
	}

	& .face-next {
		top: 40%;
		right: 20px;
		transform: rotate( 45deg );
	}

	& .face-prev, & .face-next {
		position: absolute;
		z-index: 2;
		display: block;
		width: 12px;
		height: 12px;
		border-top: 3px solid $grey;
		border-right: 3px solid $grey;
		cursor: pointer;
		transition: scale ease $tr;

		&:hover {
			scale: 1.1;
		}
	}
}



