.face {

	.examples {
		padding: 40px 0;

		@media all and (min-width: $xl) {
			padding: 90px 0 40px;
		}

		&-box {
			padding: 0;
		}
	}

	&-slide {
		position: relative;
		height: 80vw;

		@media all and (min-width: $lg) {
			height: 650px;
		}

		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}

	.examples-slide-inner {
		height: 100%;
		width: 100%;
	}

	
	&-title {
		&::before {
			display: none;
		}
	}

	h2 {
		margin-bottom: 35px;

		&::before {
			top: 0;
		}
	}

	.off {
		display: none;
	}

	&-wrapper {
		display: flex;
	}

	&-pagination {
		margin-top: 20px;
		position: relative;
		bottom: 0;
	}

	& .face-prev {
		top: 40%;
		left: 0;
		transform: rotate( -135deg );
	}

	& .face-next {
		top: 40%;
		right: 0;
		transform: rotate( 45deg );
	}

	& .face-prev, & .face-next {
		position: absolute;
		z-index: 2;
		display: block;
		width: 25px;
		height: 25px;
		border-top: 4px solid $grey;
		border-right: 4px solid $grey;
		cursor: pointer;
		transition: scale ease $tr;

		&:hover {
			scale: 1.1;
		}
	}
}