.category {
	padding: 30px 0;

	@media all and (min-width: $xl) {
		padding: 80px 0 70px;
	}

	.container {
		max-width: 1140px;
	}

	&-items {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@media all and (min-width: $lg) {
			margin: 0 -51px;
		}
	}

	&-item {
		position: relative;
		width: calc( 100% / 1 );
		margin-bottom: 30px;
		height: 400px;

		span {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX( -50% );
			width: 300px;
			height: 400px;
			display: block;
			background-repeat: no-repeat;
			background-size: cover;
			border-radius: $bord;
			background-position: center;
		}

	

		@media all and (min-width: $sm) {
			padding: 0 -20px;
		}


		@media all and (min-width: $md) {
			width: calc( 100% / 2 );
		}

		@media all and (min-width: $lg) {
			padding: 0 -51px;
			width: calc( 100% / 3 );
		}
	}

	&-links {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.category-text {
			height: 0;
			visibility: hidden;
			opacity: 0;
		}
	}

	&-inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX( -50%);
		width: calc( 100% + 20px);
		max-width: 300px;
		height: 100%;
		border-radius: $bord;
		transition: background ease $tr;
		cursor: pointer;

		&:hover {
		background: rgba(186, 165, 134, 0.9);

			.category-links .category-text {
				animation: show 1s ease forwards;

				@keyframes show {
					0% {
						height: 0;
						transform: translateY( 1000%);
						visibility: hidden;
					}

					100% {
						visibility: visible;
						transform: translateY(0);
						height: 100%;
						opacity: 1;
					}
				}
			}
		}
	}

	&-text {
		font-weight: 200;
		position: relative;
		z-index: 1;
		font-size: 18px;
		line-height: 1.7;
		text-align: center;
		color: $white;
		padding: 0 5px;
	}

	&-title {
		font-weight: 300;
		font-size: 30px;
		margin-bottom: 20px;
		line-height: 26px;
		text-align: center;
		color: $white;
		transition: opacity ease 0.5s;
		text-transform: uppercase;
	}
}