.press {
	padding: 40px 0;

	@media all and (min-width: $md) {
		padding: 100px 0 40px;
	}

	@media all and (min-width: $xl) {
		padding: 120px 0 123px;
	}

	.container {
		max-width: 1110px;
	}

	&-items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -14px;
	}

	&-item {
		padding: 0 14px;
		width: calc( 100% / 1 );
		cursor: default;
		margin-bottom: 20px;

		@media all and (min-width: $sm) {
			width: calc( 100% / 2 );
		}

		@media all and (min-width: $md) {
			width: calc( 100% / 4 );
		}

		&-inner {
			padding: 30px 23px;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid $grey;

			img {
				transition: opacity ease $tr;

				&:hover {
					opacity: $op;
				}
			}
		}
	}
}