
.add-live {
	.live-footer-logo {
		display: block;
		width: 273px;
		margin: 0 auto;
	}

	.footer {
		padding: 30px 0;
		border: 0;

	}
}

.add-live {

	.header {
		position: static;

		&.scrolled {
			padding: 10px 0;
		}
	}

	.wrapper {
		padding-top: 0;
	}

	h1 {
		font-size: 20px;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.3em;

		@media all and (min-width: $md) {
			font-size: 25px;
		}

		@media all and (min-width: $lg) {
			line-height: 1.7em;
			font-size: 29px;
		}
	}

	h2 {
		font-size: 18px;
		font-weight: 100;
		text-transform: uppercase;
		line-height: 1.3em;

		@media all and (min-width: $md) {
			font-size: 21px;
		}

		@media all and (min-width: $lg) {
			line-height: 1.7em;
		}
	}

	.whatsapp-text-wrapp {
		display: flex;
		justify-content: center;

		.whatsapp-text {
			font-weight: $fw-regular;
			line-height: 25px;

			@media all and (min-width: $lg) {
				line-height: 30px;
			}
		}
	}

	h3 {
		font-size: 18px;
		font-weight: 400;
		text-transform: uppercase;
		line-height: 1.7em;
		margin-bottom: 30px;

		@media all and (min-width: $md) {
			font-size: 21px;
		}
	}

	.for {
		text-align: center;
		margin-bottom: 10px;
		font-size: 15px;
		font-weight: 300;
		color: $white;

		@media all and (min-width: $md) {
			font-size: 20px;
		}

		span {
			font-weight: $fw-bold;
			color: $black;
		}
	}

	.live-links {
		display: flex;
		justify-content: center;
		margin-top: 50px;

		.what, .telega {
			background: $white;
			padding: 10px;
			border-radius: 10px;
		}

		.what {
			margin-right: 10px;
		}
	}
}

