.how-cost {
	background:  #F7F4F4;

	.container {
		max-width: 1140px;
	}

	h2 {
		font-weight: $fw-bold;
		font-size: 22px;
		line-height: 29px;
		color: $black;
		margin-bottom: 33px;
	}

	&-wrapper {
		padding: 50px 0;
	}

	.hero-link {
		max-width: 345px;
	}
}