.bust .hero {
	background-image: url( '../img/bust/hero/hero-bg.jpg');
	background-size: 100%;
	padding-top: 30%;
	background-repeat: no-repeat;

	@media all and (min-width: $lg) {
		padding-top: 42vh;
		background-repeat: no-repeat;
	}
}