.bust .hero {
	background-image: url( '../img/bust/hero/hero-bg.jpg');
	background-size: 100%;
	padding-top: 30%;
	background-repeat: no-repeat;

	@media all and (min-width: $lg) {
		padding-top: 45vh;
		background-repeat: no-repeat;
	}

	.hero-link {
		max-width: 322px;
		font-size: 15px;
		height: 47px;
	}
}