.bust {

	.hero-img {
		object-position: 100% 50%;
	}

	.hero-block {
		position: relative;

		@media all and (min-width: $md) {
			position: absolute;
			bottom: 0;
		}
	}

	.hero-link {
		max-width: 322px;
		font-size: 15px;
		height: 47px;
	}

	.hero-link {
		white-space: normal;
	}

	.introduction {
		&::before {
			display: none;
		}
	}
}