.face {

	& .category-title {
		width: 100%;
		font-size: 20px;
		line-height: 26px;
	}

	& .category-item {

		&:first-child {
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX( -50% );
				width: 300px;
				height: 280px;
				display: block;
				background-image: url( '../img/face/category/milf.jpg');
				background-repeat: no-repeat;
				background-size: 100% 100%;
				border-radius: $bord;
			}
		}

		&:nth-child(2) {
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX( -50% );
				width: 300px;
				height: 280px;
				display: block;
				background-image: url( '../img/face/category/face.png');
				background-repeat: no-repeat;
				background-size: 100% 100%;
				border-radius: $bord;
			}
		}

		&:nth-child(3) {
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX( -50% );
				width: 300px;
				height: 280px;
				display: block;
				background-image: url( '../img/face/category/women.png');
				background-repeat: no-repeat;
				background-size: 100% 100%;
				border-radius: $bord;
			}
		}
	}

	& .category-text {
		padding: 0 25px;
		width: 100%;
		font-weight: 700;
		font-size: 14px;
		line-height: 18px;
		text-align: center;
		color: $white;
		margin: 0;
	}
}