.examples {

	.container {
		max-width: 1240px;
	}

	h2 {
		text-align: left;
		font-weight: $fw-bold;
		font-size: 22px;
		line-height: 29px;
		color: $black;
		margin-bottom: 55px;
		padding-left: 10px;
	}

	&-box {
		position: relative;
		padding: 103px 0 128px;
		border-top: 3px solid #6e6e6e;

		&::before {
			content: "";
			position: absolute;
			top: 2px;
			left: 0;
			width: 250px;
			height: 5px;
			background: #505050;
		}
	}

	&-wrapper {
		position: relative;
		display: flex;
		margin-bottom: 20px;
	}

	&-slide {
		width: 50%;
		position: relative;
	}

	.examples-pagination, .surgeon-pagination {
		position: relative;
		bottom: 0;
	}

	.examples-prev, .examples-next {
		position: absolute;
		z-index: 2;
		display: block;
		width: 12px;
		height: 12px;
		border-top: 1px solid $white;
		border-right: 1px solid $white;
		cursor: pointer;
		transition: scale ease $tr;

		&:hover {
			scale: 1.1;
		}
	}

	.examples-prev {
		top: 45%;
		left: 20px;
		transform: rotate( -135deg )
				translateY( 45% );
	}

	.examples-next {
		top: 45%;
		right: 20px;
		transform: rotate( 45deg )
				translateY( 45% );
	}
}

.swiper-pagination-bullet-active {
	background: $black;
}

.slide-link {
	position: absolute;
	bottom: 14px;
	right: 14px;
	padding: 15px 24px 14px 34px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 16px;
	color: $btn;
	background: $white;
	box-shadow:  0px 0px 10px 0px rgba(0,0,0,0.5);
	transition: background ease $tr,
				color ease $tr;

	&:hover {
		background: #505050;
		color: $white;
	}
}