.hero {
	width: 100vw;
	background-image: url( '../img/home/hero/hero-banner-mob.jpg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	padding-top: 70vh;

	@media all and (min-width: $lg) {
		padding-top: 80vh;
		background-image: url( '../img/home/hero/hero-banner.jpg');
	}

	.container {
		max-width: 1080px;
	}

	&-block {
		position: relative;
		background: #baa586a6;
		padding: 15px 0 10px;

		&::before, &::after {
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			height: 50%;
			width: calc( (100vw - 100%) / 2 );
			background: $white;
		}

		@media all and (min-width: $md) {
			padding: 25px 0 20px;
		}

		&::before {
			left: 100%;
		}

		&::after {
			right: 100%;
		}

		h1 {
			margin-bottom: 19px;
		}
	}

	&-link {
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 250px;
		max-width: 345px;
		height: 45px;
		font-family: $ff;
		font-weight: $fw-regular;
		font-size: 12px;
		line-height: 22px;
		text-align: center;
		text-transform: uppercase;
		border-style: none;
		color: $btn;
		background: $white;
		box-shadow:  0px 0px 10px 0px rgba(0,0,0,0.5);
		cursor: pointer;
		white-space: nowrap;
		transition: background ease $tr,
					color ease $tr;

		@media all and (min-width: 400px) {
			width: 100%;
		}

		@media all and (min-width: $lg) {
			font-size: 17px;
			line-height: 33px;
		}

		&:hover {
			background: #505050;
			color: $white;
		}
	}
}