.hero {
	width: 100vw;
	padding-top: 110px;

	@media all and (min-width: $md) {
		background-image: url( '../img/home/hero/hero-banner.png');
		background-repeat: no-repeat;
		background-position: top;
		background-size: cover;
		padding-top: 70vh;
	}

	@media all and (min-width: $lg) {
		padding-top: 80vh;
	}

	.container {
		max-width: 1080px;
	}

	&-img-mob {
		margin-bottom: 30px;

		@media all and (min-width: $md) {
			display: none;
		}
	}

	&-block {
		position: relative;
		background: #baa586a6;
		padding: 15px 0 10px;

		&::before, &::after {
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			height: 50%;
			width: calc( (100vw - 100%) / 2 );
			background: $white;
		}

		@media all and (min-width: $md) {
			padding: 25px 0 20px;
		}

		&::before {
			left: 100%;
		}

		&::after {
			right: 100%;
		}

		h1 {
			font-weight: $fw-regular;
			margin-bottom: 19px;
		}

		.button {
			display: block;
			margin: 0 auto;
		}
	}
}