.benefit-page .hero {
	
	.container {
		max-width: 1350px;
	}

	.hero-img {
		object-position: 100% 38%;
	}

	.hero-block {
		position: relative;
	
		@media all and (min-width: $md) {
			position: absolute;
			bottom: 0;
		}
	}

	h5 {
		margin-bottom: 25px;

		@media all and (min-width: $lg) {
			margin-bottom: 50px;
		}
	}

	.hero-block-inner {
		width: 100%;
		padding: 20px 0;

		h5 {
			margin-bottom: 20px;
		}
	}

	.benefits-btn-wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 10px;

		@media all and (min-width: $md) {
			flex-direction: row;
			width: 100%;
		}

		.button {
			width: 241px;
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}

			@media all and (min-width: $md) {
				width: 100%;
				max-width: 350px;
				margin-bottom: 0;
				margin-right: 20px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}

.benefit-page .wrapper {
	padding-top: 7vh;
}