.hero {
	position: relative;
	width: 100vw;

	&-img {
		width: 100%;
		height: 100%;
		max-height: 350px;
		object-fit: cover;
		object-position: top;
		border-radius: 0;

		@media all and (min-width: $m) {
			max-height: 650px;
		}

		@media all and (min-width: $xl) {
			max-height: 90vh;
		}
	}

	.container {
		max-width: 1240px;
	}

	&-wrapper {
		box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.15);
	}

	&-block {
		position: relative;
		background:rgba(186, 165, 134, 0.862745098);
		padding: 15px 0 10px;
		max-width: 1040px;

		@media all and (min-width: $md) {
			padding: 25px 0 20px;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX( -50% );
		}

		h1 {
			margin-bottom: 19px;
		}
	}

	&-link {
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 250px;
		max-width: 345px;
		height: 30px;
		font-family: $ff;
		font-weight: $fw-regular;
		font-size: 12px;
		line-height: 22px;
		text-align: center;
		text-transform: uppercase;
		border-style: none;
		color: $btn;
		background: $white;
		box-shadow:  0px 0px 10px 0px rgba(0,0,0,0.5);
		cursor: pointer;
		white-space: nowrap;
		transition: background ease $tr,
					color ease $tr;

		@media all and (min-width: 390px) {
			width: 100%;
			height: 45px;
		}

		@media all and (min-width: $lg) {
			font-size: 17px;
			line-height: 33px;
		}

		&:hover {
			background: #505050;
			color: $white;
		}
	}
}