.footer {
	padding: 30px 0;
	border-top: 2px solid $grey;

	@media all and (min-width: $xl) {
		padding: 29px 0 90px;
	}

	.container {
		max-width: 1400px;
	}

	&-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

		@media all and (min-width: $md) {
			flex-direction: row;
			align-items: flex-start;
		}
	}

	&-logo {
		transition: opacity ease $tr;

		&:hover {
			opacity: $op;
		}
	}

	&-logo-inner {
		min-width: 200px;
		margin-bottom: 30px;

		@media all and (min-width: $md) {
			margin-right: 2%;
		}

		@media all and (min-width: $lg) {
			margin-right: 10%;
		}

		@media all and (min-width: $xl) {
			margin-right: 20%;
		}
	}

	&-nav {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 30px;

		&-wrapper {
			display: flex;
			flex-wrap: wrap;
		}
	}

	&-link {
		width: 50%;
		color: $black;
		margin-bottom: 10px;
		font-size: 12px;
		line-height: 18px;
		color: $black;
		padding: 0 5px;
		transition: color ease $tr;

		@media all and (min-width: $sm) {
			font-size: 14px;
		}

		&:hover {
			color: $bg;
		}
	}

	&-items {
		display: flex;
		flex-wrap: wrap;

		&-wrapper {
			display: flex;
			flex-wrap: wrap;
		}
	}

	.footer-item {
		padding: 0 5px;
		width: 50%;
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		color: $black;
		font-size: 12px;
		line-height: 18px;
		color: $black;

		@media all and (min-width: $sm) {
			font-size: 14px;
		}

		&:first-child {
			white-space: nowrap;
		}

		@media all and (min-width: $md) {
			&:first-child {
				white-space: normal;
			}
		}

		@media all and (min-width: $lg) {
			&:first-child {
				white-space: nowrap;
			}
		}

		transition: color ease $tr;

		&:hover {
			color: $bg;
		}

		img {
			margin-right: 10px;
		}
	}

	.navigation {
		width: 100%;
		font-weight: 400;
		font-size: 16px;
		line-height: 21px;
		text-transform: uppercase;
		margin-bottom: 21px;
		text-align: center;

		@media all and (min-width: $md) {
			text-align: left;
		}
	}
}