.face .hero {
	background-image: url( '../img/face/hero/hero-bg-mob.jpg');
	background-size: 100%;
	padding-top: 30%;
	background-repeat: no-repeat;

	@media all and (min-width: $lg) {
		background-image: url( '../img/face/hero/hero-bg.jpg');
		background-size: 100%;
		padding-top: 50vh;
		background-repeat: no-repeat;
	}

	@media all and (min-width: $xl) {
		padding-top: 60vh;
	}
}

.hero {

	h1 {
		text-transform: uppercase;
	}

	h5 {
		font-weight: $fw-light;
		font-size: 15px;
		color: $white;
		line-height: 20px;
		text-transform: uppercase;
		margin-bottom: 10px;

		@media all and (min-width: $md) {
			font-size: 22px;
			margin-bottom: 30px;
		}

		@media all and (min-width: $lg) {
			font-size: 26px;
			line-height: 27px;
		}
	}

	&-block {
		width: 100%;
		display: flex;
		justify-content: center;

		&-inner {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&-list {
		width: 100%;
		max-width: 600px;
		margin-bottom: 15px;
		padding: 0 10px;

		@media all and (min-width: $lg) {
			margin-bottom: 25px;
		}
	}

	&-item {
		text-align: center;
		display: flex;
		align-items: center;
		font-size: 11px;
		color: $white;
		margin-bottom: 10px;

		@media all and (min-width: $md) {
			font-size: 15px;
			margin-bottom: 20px;
		}

		@media all and (min-width: $lg) {
			font-size: 16px;
			margin-bottom: 15px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		img {
			margin-right: 5px;
		}
	}
}