.hero {

	.hero-block {
		position: relative;
	
		@media all and (min-width: $md) {
			position: absolute;
			bottom: 0;
		}
	}

	h1 {
		margin-bottom: 10px;
	}

	h5 {
		font-weight: $fw-light;
		font-size: 15px;
		color: $white;
		line-height: 20px;
		text-transform: uppercase;
		margin-bottom: 10px;

		@media all and (min-width: $md) {
			font-size: 22px;
			margin-bottom: 15px;
		}

		@media all and (min-width: $lg) {
			font-size: 26px;
			line-height: 27px;
		}
	}

	&-block {
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 10px;

		&-inner {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&-list {
		width: 100%;
		max-width: 600px;
		margin-bottom: 15px;
		padding: 0 10px;

		@media all and (min-width: $lg) {
			margin-bottom: 15px;
		}
	}

	&-item {
		text-align: left;
		display: flex;
		align-items: center;
		font-size: 11px;
		color: $white;
		margin-bottom: 10px;

		@media all and (min-width: $md) {
			font-size: 15px;
			margin-bottom: 20px;
		}

		@media all and (min-width: $lg) {
			font-size: 16px;
			margin-bottom: 15px;
		}

		&:last-child {
			margin-bottom: 0;
		}

		img {
			margin-right: 5px;
		}
	}
}

.face .examples-title {
	text-align: center;
	width: 100%;
	font-weight: 300;
	font-size: 30px;
	margin-bottom: 30px;

	&::before {
		display: none;
	}
}

.face .hero-img {
	object-position: 100% 30%;
}