.main-page .burger-main {
	display: none;
}

.face .burger-face {
	display: none;
}

.bust .burger-bust {
	display: none;
}

.body .burger-body {
	display: none;
}

.prices .burger-cost {
	display: none;
}

.about .burger-surg {
	display: none;
}

.testi .burger-testi {
	display: none;
}

.benefit .burger-benefit {
	display: none;
}