.before {
	padding-bottom: 40px;

	.container {
		max-width: 1240px;
	}

	@media all and (min-width: $lg) {
		padding-bottom: 105px;
	}

	&-video {
		width: 250px;
		height: 433px;


		@media all and (min-width: $xl) {
			width: 300px;
			height: 533px;
		}
	}

	h2 {
		text-align: left;
		font-weight: $fw-bold;
		font-size: 22px;
		line-height: 29px;
		color: $black;
		margin-bottom: 55px;
		padding-left: 10px;
	}

	&-slide {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		justify-content: center;

		@media all and (min-width: $lg) {
			flex-direction: row;

			&.reverse {
				flex-direction: row-reverse;

				.before-video {
					margin: 0 0 0 7%;
				}
			}
		}

		img {
			object-fit: cover;
			margin: 0 auto;
			max-width: 70%;
			max-height: 300px;

			@media all and (min-width: $lg) {
				max-width: 80%;
				max-height: auto;
			}

			@media all and (min-width: $xl) {
				max-height: 100%;
				max-width: 100%;
			}
		}
	}

	&-video {
		margin: 0 0 30px 0;

		@media all and (min-width: $lg) {
			margin: 0 7% 0 0;
		}
	}

	&-info {
		max-width: 600px;
	}

	&-title {
		font-weight: $fw-bold;
		font-size: 20px;
		line-height: 27px;
		text-align: center;
		color: $black;
		margin-bottom: 20px;

		@media all and (min-width: $xl) {
			font-size: 36px;
			margin-bottom: 41px;
			line-height: 47px;
		}
	}
	&-text {
		position: relative;
		font-weight: $fw-regular;
		font-size: 12px;
		line-height: 15px;
		text-align: center;
		color: $black;
		margin-bottom: 30px;

		@media all and (min-width: $xl) {
			font-size: 24px;
			margin-bottom: 51px;
			line-height: 31px;
		}

		&::before, &::after {
			content: "";
			display: block;
			width: 158px;
			height: 1px;
			background: $bg;
			position: absolute;
			left: 50%;
			transform: translateX( -50% );
		}

		&::before {
			top: -15px;
		}

		&::after {
			bottom: -25px;
		}

	}

	&-name {
		font-family: $ff;
		font-weight: $fw-regular;
		font-size: 12px;
		line-height: 20px;
		color: $black;
		text-align: center;

		@media all and (min-width: $xl) {
			font-size: 24px;
			line-height: 31px;
		}
	}

	&-pagination {
		margin-top: 40px;
		position: relative;
		bottom: 0;
	}

	& .before-prev {
		top: 50%;
		left: 10%;
		transform: rotate( -135deg );
	}

	& .before-next {
		top: 50%;
		right: 10%;
		transform: rotate( 45deg );
	}

	& .before-prev, & .before-next {
		position: absolute;
		z-index: 2;
		display: block;
		width: 25px;
		height: 25px;
		border-top: 4px solid $grey;
		border-right: 4px solid $grey;
		cursor: pointer;
		transition: scale ease $tr;

		&:hover {
			scale: 1.1;
		}
	}

	.hero-link {
		font-size: 12px;
		white-space:normal;
		max-width: 457px;
		margin-top: 50px;
		height: 47px;

		@media all and (min-width: $md) {
			font-size: 16px;
		}
	}
}